.headerEmpty-alertHooks{
    /* //position: absolute; */
    top: 68px;
    right: 0px;
    left: auto;
    position: fixed;
    z-index: 1000;
    width: 40%;
}
/* //  set display for table */
#tb-layout-auto{
    table-layout: auto;
    display: inline-table;
}